@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/inter.css";

.theme-light {
    --primary: #f8f8f8;
    --secondary: #dbe1e8;
    --text-main: #0d0106;
    --text-secondary: #454e56;
    --accent: #009ffd;
}

.theme-dark {
    --primary: #12181b;
    --secondary: #2a2e35;
    --text-main: #eaeaea;
    --text-secondary: #b8b8b9;
    --accent: #fc7753;
}